<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stocks</title>
    <!-- Bootstrap core CSS-->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/">Stocks</a>

     <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">

        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Industries</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Industry Names:</h6>
            <a class="dropdown-item" href="ConsDis">Consdis</a>
            <a class="dropdown-item" href="ConsStap">Constap</a>
            <a class="dropdown-item" href="Energy">Energy</a>
            <a class="dropdown-item" href="Finance">Finance</a>
            <a class="dropdown-item" href="Healthcare">Healthcare</a>
            <a class="dropdown-item" href="Industrial">Industrial</a>
            <a class="dropdown-item" href="IT">IT</a>
            <a class="dropdown-item" href="LargeCap">LargeCap</a>
            <a class="dropdown-item" href="Material">Material</a>
            <a class="dropdown-item" href="MediumCap">MediumCap</a>
            <a class="dropdown-item" href="SmallCap">SmallCap</a>
            <a class="dropdown-item" href="Tele">Tele</a>
            <a class="dropdown-item" href="Utilities">Utilities</a>
          </div>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">


          <!-- Image Area/Result Area-->
        <link href="/static/col.css" rel="stylesheet" type="text/css">
          <div class="card mb-3">
            <h1 class="card-header">
              <h1 style="padding-left:7%;positoin:relative;bottom:20px; text-align:center;">{{fn}} " efefe "{{d[0]}}</h1></div>
	<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    {% set count = namespace(a=0) %}
    {% for elem in full %}
        <button class="collapsible"><h4>Reason for selecting Stock {{st[count.a ]}} is because of the following Attributes</h4></button>
          <div class="content">
          {% set count.a = count.a + 1 %}
        <table class="table table-striped table-dark" cellpadding="10">
            <thead><td>Attribute</td><td>Value</td></thead>
            {% for a in elem %}
            <tr>  <td>{{a[0]}}</td><td>{{a[1]}}</td></tr>
            {% endfor%}

        </table>
          </div>
    {% endfor %}

    </div>
      </div>

          <!-- DataTables Example -->

        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/static/java.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin.min.js"></script>
  </body>
</html>

