<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>STOCKS</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
<!--          <i class="fas fa-laugh-wink"></i>  -->
        </div>
        <div class="sidebar-brand-text mx-3">STOCKS</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Sectors</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Sector Names:</h6>
            <a class="dropdown-item" href="ConsDis">Consumer Discretionary</a>
            <a class="dropdown-item" href="ConsStap">Consumer Staples</a>
            <a class="dropdown-item" href="Energy">Energy</a>
            <a class="dropdown-item" href="Finance">Finance</a>
            <a class="dropdown-item" href="Healthcare">Healthcare</a>
            <a class="dropdown-item" href="Industrial">Industrial</a>
            <a class="dropdown-item" href="IT">Information Technology</a>
            <a class="dropdown-item" href="LargeCap">Large Cap</a>
            <a class="dropdown-item" href="Material">Material</a>
            <a class="dropdown-item" href="MediumCap">Medium Cap</a>
            <a class="dropdown-item" href="SmallCap">Small Cap</a>
            <a class="dropdown-item" href="Tele">Telecommunication</a>
            <a class="dropdown-item" href="Utilities">Utilities</a>
            <div class="collapse-divider"></div>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Image Area/Result Area-->
        <link href="/static/col.css" rel="stylesheet" type="text/css">

      <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{fn}}</h1>
        <span class="h6 mb-0 text-gray-800">Start Date : {{d[0]}}<br>End &nbsp;Date : {{d[1]}}</span>
          </div>

	<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    {% set count2 = namespace(a=0) %}
    {% set count = namespace(i=0)%}
    {% for elem in full %}
        <button class="collapsible"><h4>Overall Stock Ratings for Stock : {{st[count2.a ]}} </h4></button>
          <div class="content" style="padding-bottom:5%;">
              <div>
          {% set count2.a = count2.a + 1 %}
        <table class="table" cellpadding="10">
            {% for a in elem %}
            <tr><td>{{a[0]}}</td><td style="padding-top:2%;">{{a[3]}}</td><td class="checked">{{a[1]}}{{a[2]}}</td></tr>
            {% endfor%}
            <tr><td>percentage price change over last 20 days</td><td>NA</td><td>NA</td></tr>
            <tr><td>Mean Price Over last 20 days</td><td>NA</td><td>NA</td></tr>
            <tr><td>Volatality of price</td><td>NA</td><td>NA</td></tr>
            <tr><td>Close</td><td>NA</td><td>NA</td></tr>
            <tr><td>Forecasted Price</td><td>NA</td><td>NA</td></tr>
            <tr><td>Date</td><td>NA</td><td>NA</td></tr>
        </table>
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-sm-6">
                  <button class="collapsible"><h6>Profitability & Management Effectiveness Rating</h6></button>
                              {% set elem3 = full3[count.i] %}
                  <div class="content">
                      <table class="table">
                          {%for a3 in elem3 %}
                          {% if a3[3] > 6 %}
                          <tr><td>{{a3[0]}}</td><td width="10%">{{a3[3]}}</td><td class="checked1" width="60%">{{a3[1]}}{{a3[2]}}</td></tr>
                          {% endif %}
                          {% if a3[3] == 6 or a3[3] == 5%}
                          <tr><td>{{a3[0]}}</td><td width="10%">{{a3[3]}}</td><td class="checked2" width="60%">{{a3[1]}}{{a3[2]}}</td></tr>
                          {% endif %}
                          {% if a3[3] < 5 %}
                          <tr><td>{{a3[0]}}</td><td width="10%">{{a3[3]}}</td><td class="checked3" width="60%">{{a3[1]}}{{a3[2]}}</td></tr>
                          {% endif %}
                          {%endfor%}

                      </table>
                  </div>
                          </div>
                          <div class="col-sm-6">
                  <button class="collapsible"><h6>Revenue Generator and Liquidity Rating</h6></button>
                              <div class="content">
                      <table class="table">
                          {% set elem4 = full4[count.i]%}
                          {%for a4 in elem4%}
                          {% if a4[3] > 6 %}
                          <tr><td>{{a4[0]}}</td><td width="10%">{{a4[3]}}</td><td class="checked1" width="60%">{{a4[1]}}{{a4[2]}}</td></tr>
                          {% endif %}
                          {% if a4[3] == 6 or a4[3] == 5%}
                          <tr><td>{{a4[0]}}</td><td width="10%">{{a4[3]}}</td><td class="checked2" width="60%">{{a4[1]}}{{a4[2]}}</td></tr>
                          {% endif %}
                          {% if a4[3] < 5 %}
                          <tr><td>{{a4[0]}}</td><td width="10%">{{a4[3]}}</td><td class="checked3" width="60%">{{a4[1]}}{{a4[2]}}</td></tr>
                          {% endif %}
                          {%endfor%}
                      </table>
                  </div>
                   {% set count.i = count.i+1 %}
                   </div>
                </div>
              </div>
              </div>
          </div>
    {% endfor %}
    </div>
          </div>
      <!-- End of Main Content -->

      <!-- Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>
      <!-- End of Footer -->
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
    </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/static/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
    <script src="/static/js/demo/test.js"></script>
  <script src="/static/js/demo/chart-area-demo.js"></script>
  <script src="/static/js/demo/chart-pie-demo.js"></script>
  <script src="/static/java.js"></script>
</body>

</html>
