<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Aussie Stock Trader</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='Aussie16.ico') }}">

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
<!--          <i class="fas fa-laugh-wink"></i>  -->
        </div>
        <div class="sidebar-brand-text mx-3">Aussie Stock Trader</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Sectors</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Sector Names:</h6>
            <a class="dropdown-item" href="ConsDis">Consumer Discretionary</a>
            <a class="dropdown-item" href="ConsStap">Consumer Staples</a>
            <a class="dropdown-item" href="Energy">Energy</a>
            <a class="dropdown-item" href="Finance">Finance</a>
            <a class="dropdown-item" href="Healthcare">Healthcare</a>
            <a class="dropdown-item" href="Industrial">Industrial</a>
            <a class="dropdown-item" href="IT">Information Technology</a>
            <a class="dropdown-item" href="LargeCap">Large Cap</a>
            <a class="dropdown-item" href="Material">Material</a>
            <a class="dropdown-item" href="MediumCap">Medium Cap</a>
            <a class="dropdown-item" href="SmallCap">Small Cap</a>
            <a class="dropdown-item" href="Tele">Telecommunication</a>
            <a class="dropdown-item" href="Utilities">Utilities</a>
            <div class="collapse-divider"></div>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Image Area/Result Area-->
        <link href="/static/col.css" rel="stylesheet" type="text/css">

      <div class="d-sm-flex align-items-center justify-content-between mb-4">
          </div>

	<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    </div>
          </div>
      <!-- End of Main Content -->
            <div class="container-fluid">
                          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary"><a href="https://www.youtube.com/watch?v=F3QpgXBtDeo">How The Stock Exchange Works (Video)</a></h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="container">
                      <p>
                    <a href="https://www.youtube.com/watch?v=F3QpgXBtDeo" target="_blank">
                    <img border="0"class="image" style="width:100%" alt="W3Schools" src="/static/maxresdefault.jpg" width="100%" height="100%">
                  </a>
                        <div class="middle">
                    <div class="text"><a href="https://www.youtube.com/watch?v=F3QpgXBtDeo" style="text-decoration:none">  Play On Youtube</a>
                    </div>
                  </div>
                      </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pie Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Brief Overview Of Each Sector</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <button class="collapsible"><h8>Consumer Discretionary </h8></button>
          <div class="content" style="padding-bottom:5%;">
          Consumer discretionary is the term given to goods and services that are considered non-essential by consumers, but desirable if their available income is sufficient to purchase them. Consumer discretionary goods include durable goods, apparel, entertainment and leisure, and automobiles.
          </div>
                  &nbsp
                    <button class="collapsible"><h8>Consumer Staples </h8></button>
          <div class="content" style="padding-bottom:5%;">
Consumer staples are essential products, such as food, beverages, tobacco and household items. Consumer staples are goods that people are unable or unwilling to cut out of their budgets regardless of their financial situation.
          </div>
                    &nbsp
                    <button class="collapsible"><h8>Energy </h8></button>
          <div class="content" style="padding-bottom:5%;">
The Energy Sector (comprises companies whose businesses are dominated by either of the following
activities: the construction or provision of oil rigs, drilling equipment and other energy related service
and equipment, including seismic data collection; or, companies engaged in the exploration,
production, marketing, refining and/or transportation of oil and gas products, coal and other
consumable fuels.
          </div>
                    &nbsp
                    <button class="collapsible"><h8>Finance </h8></button>
          <div class="content" style="padding-bottom:5%;">
The Finance Sector contains companies involved in activities such as banking, mortgage finance,
consumer finance, specialised finance, investment banking and brokerage, asset management and
custody, corporate lending, insurance, and financial investment, and real estate, including REITs.
          </div>
                    &nbsp
                    <button class="collapsible"><h8>Healthcare</h8></button>
          <div class="content" style="padding-bottom:5%;">
The Healthcare Sector encompasses two main industry groups. The first includes companies who
manufacture health care equipment and supplies or provide health care related services, and owners
and operators of health care products, providers of basic health-care services, and owners and
operators of health care facilities and organisations. The second group includes companies primarily
involved in the research, development, production and marketing of pharmaceuticals and
biotechnology products.
          </div>
                       &nbsp
                    <button class="collapsible"><h8>Industrial</h8></button>
          <div class="content" style="padding-bottom:5%;">
The Industrial Sector includes companies whose businesses are dominated by one of the following
activities: the manufacture and distribution of capital goods, including aerospace &amp; defense,
construction, engineering &amp; building products, electrical equipment and industrial machinery; or, the
provision of commercial services and supplies, including printing, employment, environmental and
office services; or, the provision of transportation services, including airlines, couriers, marine, road &amp;
rail and transportation infrastructure.
          </div>
                                          &nbsp
                    <button class="collapsible"><h8>Information Technology</h8></button>
          <div class="content" style="padding-bottom:5%;">
              The Information Technology Sector covers the following general areas: firstly, Software &amp; Services,
including companies that primarily develop software in various fields such as the Internet,
applications, systems, databases management and/or home entertainment, and companies that
provide information technology consulting and services, as well as data processing and outsourced
services; secondly, Technology Hardware &amp; Equipment, including manufacturers and distributors of
communications equipment, computers &amp; peripherals, electronic equipment and related instruments;
and thirdly, Semiconductors &amp; Semiconductor Equipment Manufacturers.
          </div>
                    &nbsp
                    <button class="collapsible"><h8>Large Cap</h8></button>
          <div class="content" style="padding-bottom:5%;">
  These are the biggest companies on the ASX in terms of market cap. The S&amp;P/ASX 50 is comprised
of the 50 largest companies, representing over half of the Australian share market by market cap. The
market cap of these securities generally ranges between tens of billions to over $100 billion.
          </div>
                    &nbsp
                    <button class="collapsible"><h8>Material</h8></button>
          <div class="content" style="padding-bottom:5%;">
  The Material Sector encompasses a wide range of commodity-related manufacturing industries.
Included in this sector are companies that manufacture chemicals, construction materials, glass,
paper, forest products and related packaging products, and metals, minerals and mining companies,
including producers of steel.
          </div>
                    &nbsp
                    <button class="collapsible"><h8>Medium Cap</h8></button>
          <div class="content" style="padding-bottom:5%;">
These are the next 50 biggest companies on the ASX in terms of market cap. The S&amp;P/ASX MidCap
50 is comprised of the members of the S&amp;P/ASX 100, excluding those in the S&amp;P/ASX 50. The
market cap of these securities generally ranges between tens $2 billion to $10 billion.
          </div>
                    &nbsp
                    <button class="collapsible"><h8>Small Cap</h8></button>
          <div class="content" style="padding-bottom:5%;">
These are all those companies that sit outside of the largest 100 on the ASX by market cap. The
S&amp;P/ASX Small Ordinaries index represents those smaller members of the S&amp;P/ASX300 index. It’s
used as a benchmark for small cap Australian shares. Companies in this index generally have a
market cap of a few hundred million to 2 billion.
          </div>
                    &nbsp
                    <button class="collapsible"><h8>Telecommunication</h8></button>
          <div class="content" style="padding-bottom:5%;">
The Telecommunication Sector provides investors with a sector benchmark that reflects those
companies included in the S&amp;P/ASX 200 that are classified as members of the GICS®
communication services sector and sub-industries.
          </div>
                    &nbsp
                    <button class="collapsible"><h8>Utilities</h8></button>
          <div class="content" style="padding-bottom:5%;">
The Utilities Sector encompasses those companies considered to be electric, gas or water utilities, or
companies that operate as independent producers and/or distributors of power.
          </div>
                </div>
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Area Chart Example-->
          <!--<div class="card mb-3">-->
              <!--<div class="card-header">-->
              <!--<i class="fas fa-chart-area"></i> WELCOME</div>-->
            <!--<img src="/static/blue2.jpg" width="1200" height="500">-->
      <!-- Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>
      <!-- End of Footer -->
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
    </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>
  <script src="/static/java.js"></script>
</body>
</html>
